[submodule "Loop"]
	path = Loop
	url = https://github.com/LoopKit/Loop.git
[submodule "LoopKit"]
	path = LoopKit
	url = https://github.com/LoopKit/LoopKit.git
[submodule "CGMBLEKit"]
	path = CGMBLEKit
	url = https://github.com/LoopKit/CGMBLEKit.git
[submodule "SwiftCharts"]
	path = SwiftCharts
	url = https://github.com/i-schuetz/SwiftCharts.git
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	url = https://github.com/LoopKit/dexcom-share-client-swift.git
[submodule "G4ShareSpy"]
	path = G4ShareSpy
	url = https://github.com/LoopKit/G4ShareSpy.git
[submodule "rileylink_ios"]
	path = rileylink_ios
	url = https://github.com/ps2/rileylink_ios.git
[submodule "Amplitude-iOS"]
	path = Amplitude-iOS
	url = https://github.com/LoopKit/Amplitude-iOS.git
[submodule "MKRingProgressView"]
	path = MKRingProgressView
	url = https://github.com/LoopKit/MKRingProgressView.git
[submodule "NightscoutService"]
	path = NightscoutService
	url = https://github.com/ps2/NightscoutService.git
[submodule "Minizip"]
	path = Minizip
	url = https://github.com/dexman/Minizip.git
[submodule "TrueTime.swift"]
	path = TrueTime.swift
	url = git@github.com:instacart/TrueTime.swift.git
