[submodule "Loop"]
	path = Loop
	url = https://github.com/tidepool-org/Loop.git
[submodule "LoopKit"]
	path = LoopKit
	url = https://github.com/tidepool-org/LoopKit.git
[submodule "CGMBLEKit"]
	path = CGMBLEKit
	url = https://github.com/tidepool-org/CGMBLEKit.git
[submodule "SwiftCharts"]
	path = SwiftCharts
	url = https://github.com/i-schuetz/SwiftCharts.git
[submodule "dexcom-share-client-swift"]
	path = dexcom-share-client-swift
	url = https://github.com/tidepool-org/dexcom-share-client-swift.git
[submodule "G4ShareSpy"]
	path = G4ShareSpy
	url = https://github.com/tidepool-org/G4ShareSpy.git
[submodule "rileylink_ios"]
	path = rileylink_ios
	url = https://github.com/tidepool-org/rileylink_ios.git
[submodule "Amplitude-iOS"]
	path = Amplitude-iOS
	url = https://github.com/LoopKit/Amplitude-iOS.git
[submodule "MKRingProgressView"]
	path = MKRingProgressView
	url = https://github.com/maxkonovalov/MKRingProgressView.git
