//

// Override this if you don't want the default com.${DEVELOPMENT_TEAM}.loopkit that loop uses
// MAIN_APP_BUNDLE_IDENTIFIER = com.myname.loop

// Customize this to change the app name displayed
MAIN_APP_DISPLAY_NAME = Loop

// Features
// SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) FEATURE_OVERRIDES_DISABLED

// Assets
INCLUDED_SOURCE_FILE_NAMES = AdditionalAssets.xcassets

//APPICON_NAME = CustomLoopIcon
